.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.layout-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}